
body {
	background-color: white;
	margin: 0em 0em 0em 0em;
}

h2 {
	color: black;
	text-align: center;
	width: 9em;
	margin: auto;
	border-radius: 5px;
}
.nav-bar{
	width: 62%;
	margin: auto;
}
.short-instructions {
	color: #535EF5;
	text-align: center;
	font-size: .9em;
	margin-top: 2em;
}
.nav-bar-item {
    display: inline-block;
    width: 50%;
    text-align: center;
    color: black;
    position: relative;
    z-index: 1;
}
.game-container {
	width: 75%;
	margin: auto;
}
.main-photo{
    background-image: url(../assets/food-plate.jpg);
    /* margin: auto; */
    display: block;
    margin: 0em 0em 0em 0em;
    height: 25em;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.main-photo::before{
	content: '';
	background: rgba(222, 33, 33, 0.49);
    position: absolute;
    width: 100%;
    height: 25em;
    top: 0;
    left: 0;
}
.instructions, .offer-instructions {
	width: 20em;
	color: #535EF5;
	margin: 2em auto;
}
input {
	font-size: 1em;
}
.search-box {
	width: 20em;
	margin: .5em auto;
}

button {
	background-color: #535EF5;
	color: white;
	border-radius: 5px;
}
.category-name {
	background-color: #F5535E;
	color: white;
	text-align: center;
	width: 9em;
	margin: auto;
	border-radius: 5px;
	font-size: 1.2em;
	border: .02em solid #535EF5;
}
.category-option {
	display: inline;
}
.category-list {
	width: 60%;
	margin: auto;
	text-align: center;
}
.shuffle-button {
	margin-top: 2em;
	margin-bottom: 2em;
}
.shuffle-button > button {
	font-size: 1.5em;
}
.offers {
	width: 75%;
	margin: auto;
}
.offer-header {
	margin-top: 2em;
	font-weight: bold;
	font-size: 1.2em;
}
.first-offer {
	color: #535EF5;
	font-size: 1.2em;
}
.second-offer {	
	background-color: #F5535E;
	color: white;
	text-align: center;
	width: 5em;
	font-size: 1.2em;

}
.offer-button {
	margin-top: .5em;
	margin-bottom: .5em;
}
.offer-container {
	width: 60%;
}
h3 {
	background-color: #F5535E;
	color: white;
	text-align: center;
	border-bottom: .3em solid #535EF5;
	width: 9em;
	margin: 2em auto;
	border-radius: 5px;
}
.offer-header {
	font-size: 1.2;
	color: #535EF5;
}
.offer-name, .offer-address {
	font-size: 1.2;
	color: #535EF5;
}

